<h1>Ro'yhatdan o'tish</h1>
<h6>{{msg}}</h6>
<form action="/users/reg" method="post">
    <input type="text" required name="login" placeholder="login">
    <input type="text" required name="password" placeholder="parol">
    <input type="text" name="name" placeholder="ism-familiya">
    <button type="submit">Enter</button>

</form>