<div class="container">

<h1>Yangi hodim</h1>
<form action="/" method="post" enctype="multipart/form-data">

<div class="input-group mb-3" >
    <label class="input-group-text" >Bo'limni tanlang</label>
    <select class="form-select" name="bolim">
        <option value="Web dasturlash">Web dasturlash</option>
        <option value="Mobil ilova">Mobil ilova</option>
        <option value="Dizayin">Dizayin</option>
        <option value="Menijment">Menijment</option>
    </select>
</div>
<div class="input-group" >
    <span class="input-group-text"  >Ismi va Familiyasi</span>
    <input type="text" name="ism" class="form-control">
    <input type="text" name="familiya" class="form-control">
</div>

<div class="input-group mt-3">
    <input type="file" name="photo" class="form-control" id="inputGroupFile02">
    
</div>

<div class="d-grid gap-2 mt-3 d-md-flex justify-content-md-end">
<button type="submit"  class="btn btn-success">Kiritish</button>
</div>
</div>
</form>
